.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(122, 121, 123, 0.296);
}


.Modal {
    display: flex;
    background-color: #fff;
    width: 750px;
    border-radius: 10px;
    min-height: 400px;
}

.Modal .leftModal {
    width: 40%;
}

.Modal .leftModal img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Modal .rightModal {
    padding: 25px;
    width: 60%;
    padding-bottom: 0;
    position: relative;
}

.Modal .rightModal .title {
    font-weight: bold;
}

.Modal .rightModal__comments {
    border-bottom-right-radius: 10px;
    max-height: 100px;
    border-top: 1px solid rgb(225, 225, 225);
    margin-top: 20px;
    padding-bottom: 100px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    overflow-y: scroll;
}

.comment {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1
}

.rightModal input:focus {
    outline: none;
    align-items: center;
    display: flex;
    height: 100%;
}

.rightModal .formInput {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    right: 0;
    z-index: 1000;
    border-top: 1px solid rgb(225, 225, 225);
}

.rightModal .formInput button {}

input {
    width: 100%;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.postilkda {
    width: 100%;
    height: 5px;
    position: relative;
    z-index: 1000;
}

.comment__logo {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 100%;

    background-color: rgb(60, 131, 246);
}

.comment__comment {
    margin-left: 10px;
    font-size: 12px;
    display: flex;
    height: 100%;
    align-items: center;
}



.card-body {
    font-size: 10px;
}

@media screen and (max-width: 1350px) {
    /* .card-body {
        padding: 3px;
        margin-left: 10px;
    }
    .card-title {
        font-size: 10px;
    } */

    .wrappped {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}