
.news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-group {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center ;
}

@media screen and (max-width: 950px) {
    .news {
        display: flex;
    }

    .card {
        display: block;
        width: 100% !important;
        flex-direction:row !important;
    }

    .card figure{
        width: 30% !important;
    }

    .card figure img{
        max-width:none !important
    }
}