.workingMode .wrappped {
    display: block;
}

.workingMode .workingMode__title {
    font-size: 30px;
    margin-bottom: 30px;
}

.workingMode__section {
    margin-bottom: 60px;
}

.workingMode__section .title {
    font-size: 20px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.workingMode .infoSection {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    margin-bottom: 10px;
}

.workingMode .infoSection svg {
    margin-bottom: 2px;
    margin-right: 10px;
    font-size: 16px;
}