.navbar {
    padding: 0 !important;
    display: block !important;
}

.navbar .navbar-start img {
    width: 30px;
    margin-right: 10px;
}

.navbar .navbar-start .normal-case {
    position: relative;
    font-weight: bold;
    font-size: 24px;
}

.navbar .navbar__data {
    width: 100%;
    min-height: 135px;
    background-color: #fff;
    padding-left: 135px;
    padding-right: 135px;
}

.navbar .navbar__data {
    width: 100%;
    min-height: 135px;
    position: relative;
}

.navbar .navbar__data_img {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar .navbar__data_img.darkned {
    background-color: rgba(0, 0, 0, .1);
}

.navbar .navbar__data_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.navbar .navbar__info {
    position: relative;
    width: 100%;
    height: 55px;
    padding-left: 135px;
    padding-right: 14px;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
}

.sticky {
    position: fixed !important;
    top: 0;
    z-index: 100;
}

.navbar .navbar-end {
    width: auto;
    display: flex;
    align-items: center;
}


.navbar .navbar-start span {
    position: absolute;
    right: -11px;
    top: 2px;
}

.navbar .menu {
    font-size: 14px;
}

.navbar .navbarTheme li a {
    padding-top: 10px;
    position: sticky;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .navbar__data .navbar__data__left,
.navbar .navbar__data .navbar__data__right {
    width: 50%;
    height: 100%;
    z-index: 10;
    color: #1070B7;
}

.navbar .navbar__data .navbar__data__right {
    display: flex;
    justify-content: end;
}

.navbar .navbar__data .navbar__data__right .dataBtn__svg svg {
    font-size: 30px
}

.navbar .navbar__data__right .dataBtn__title {
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar .navbar__data .navbar__data__right .dataBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar .navbar__data.sticky_wrap {
    margin-bottom: 55px;
}

.navbar .navbar__data__left {
    display: flex;
    align-items: center;
}

.navbar .navbar__data__left .title {
    margin-left: 20px;
    font-weight: bold;
}

.changeColor label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeColor a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.changeColor .wrapped {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: aqua;
}

.wrapped.light {
    background-color: #fff;
}

.wrapped.black {
    background-color: #374151;
}

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px;
    font-size: 20px;
    color: hsl(var(--nc) / var(--tw-text-opacity));

}

.bm-burger-button {
    width: 30px;
    height: 30px;
    position: relative;
}

.bm-burger-button button {
    width: 30px !important;
    height: 30px !important;
}

.bm-overlay {
    background-color: rgb(237, 237, 237) !important;
    z-index: 100%;
    right: 0;
}

.sticky .bm-overlay {
}

.bm-item {
    border-radius: 4px;
    padding: 4px;
}

.burger {
    display: none !important;
    height: 100%;
    display: flex;
    align-items: center;
}

.no-burger {
    display: block;
}

@media screen and (max-width: 1272px) {
    .burger {
        height: 100%;
        display: flex !important;
    }

    .navbar .navbar__info {
        padding-left: 30px;
        padding-right: 30px;
    }

    .no-burger {
        display: none;
    }

    .navbar__data__right {
        display: none !important;
    }

    .navbar__data__left {
        width: 100% !important;
        justify-content: center;
    }

}