.home {
}

.home-left {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.home-left .date {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.home-left .date .date-content {
    width: 70px;
    height: 70px;
}

.date-content .countdown {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-right {
    width: 65%;
    padding-left: 50px;
}

.home-right__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.home-right__info {
    font-size: 16px;
    margin-bottom: 15px;
}

.carousel-item {
    width: 400px;
}

.carousel {
    max-height: 350px;
    max-width: 350px;
    border-radius: 10px;
}

@media screen and (max-width: 1350px) {
    .home-right__info {
        font-size: 12px;
    }

    .carousel {
        height: 250px;
        width: 250px;
        border-radius: 10px;
    }
    
}