@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "responsive.css" */

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.wrappped {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
}





@media screen and (max-width: 1272px) {
    .wrappped {
        display: block;
    }

    .home-left,
    .home-right {
        width: 100% !important;
    }

    .home-left {
        display: flex;
        flex-wrap: wrap;
    }

    .home-left .date {
        width: 100%;
    }

    .home-right {
        padding-top: 40px;
        margin-bottom: 60px;
        padding-left: 0;
    }

    .w-full {
        width: 250px;
    }
}