.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login__modal {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
    width: 450px;
    padding: 30px;
}

.login__modal form{
    width: 100%;
}

.login__modal__logo {
    position: absolute;
    top: -30px;
    right: 190px;
}

.login__modal__inputs {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.login__modal__inputs .form-control {
    width: 100%;
}

.login__modal__inputs .changeOptions {
    margin-top: 15px;
}

.login__modal__inputs .btns__group {
    margin-top: 20px;
}

.login__modal__inputs .btns__group .btn {
    margin-right: 15px;
}