.dashboard__body {
    display: flex;
    padding: 20px;
}

.dashboard-navbar {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.dashboard-navbar .navbar__left {
    display: flex;
    align-items: center;
}

.dashboard-navbar .navbar__right {
    display: flex;
    align-items: center;
}

.dashboard-navbar .navbar__right__name {
    margin-right: 25px;
}

.navbar__left__logo {
    width: 40px;
    margin-right: 10px;
}

.dashboard-navbar .navbar__left__title {
    font-size: 25px;
}

.dashboard .navigation {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dashboard .navigation button {
    position: relative;
}

.dashboard .navigation button.active::after {
    content: '';
    background-color: #c5c8d0;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: -10px;
    right: -10px;
}