.info {
    display: grid;
    padding: 20px;
    padding-top: 50px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 10px;
}

.info_item .card {
    min-height: 200px;
}